/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /* --header-height: 3rem; */
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  /* --first-color: #d3d3d3; */
  --first-color: #da1e37;
  --home-color: #da1e37;
  /* --first-color: #d90429; */
  --white-color: #fafaff;
  --yellow-color: #ff7b00;
  --dark-color: #03071e;
  --text-color: #697477;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 4.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/****SIDEBAR NAVIGATION****/

body::-webkit-scrollbar {
  width: 0.5rem;
}
.body::-webkit-scrollbar-track {
  background: var(--text-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--dark-color);
}

.side-navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--dark-color);
  z-index: 100;
  transition: width 200ms ease;
}

.side-navbar-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--first-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: with 300 ease;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--first-color);
  color: #e9e9e9;
}
.link-text {
  display: none;
}
.logo-icons {
  font-size: 2.2rem;
  color: var(--first-color);
}
.logo i {
  transform: rotate(0deg);
  transition: transform width 200 ease;
}
.side-navbar:hover .logo i {
  transform: rotate(360deg);
}
.nav-link i {
  min-width: 2rem;
  margin: 0 1rem;
}

.side-navbar:hover {
  width: 10rem;
}
.side-navbar:hover .link-text {
  display: block;
}

.fas {
  color: #e9e9e9;
  transition: width 200 ease;
}

@media only screen and (max-width: 600px) {
  .side-navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .side-navbar-list {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
    flex-direction: column;
  }
  .link-text {
    display: block;
    padding: 0.5rem;
  }
  .side-navbar:hover {
    width: 100vw;
  }
  .side-navbar:hover .link-text {
    display: block;
  }
  .nav-link i {
    text-align: center;
  }
}
/******************END OF SAIDEBAR AND default SCROLL***********************/

/*****NEW HOME SECTION *******/
.home-container {
  height: 70vh;
  display: flex;
}
.item-box {
  width: 90%;
  display: flex;
  justify-content: center;
}

.left h2 {
  font-size: 4vw;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(37, 37, 37);
}
.left p {
  text-align: center;
  font-size: 2vw;
  color: var(--dark-color);
}

.left {
  width: auto;
  height: 65vh;
  padding: 10%;
  flex: 2;
  background: var(--first-color);
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
}
.nothing {
  background-color: #03071e;
  height: 35vh;
  flex: 2 100%;
}

@media only screen and (max-width: 600px) {
  .image-container img {
    width: 100%;
    height: 50vh;
  }
  .home-container {
    flex-direction: column;
    height: 100vh;
  }
  .left h2 {
    font-size: 10vw;
  }
  .left p {
    font-size: 5vw;
  }
}
/*****END NEW HOME SECTION *******/

/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--dark-color);
  margin: var(--mb-4) 0;
  text-align: center;
}
/* .section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
} */

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
/* .l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
} */

/*===== NAV =====*/
/* .nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #03071e;
    transition: 0.5s;
    backdrop-filter: blur(10px);
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  /* color: var(--dark-color); */
  color: var(--first-color);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo {
  color: var(--white-color);
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME =====*/
.home {
  position: relative;
  background-color: var(--home-color);
  overflow: hidden;
}
.home__container {
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
}
.home__title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 0.8;
}
.home__title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
.home__scroll {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
.home__scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--white-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* ===== COMPANIES =====* ***************/
.body-container {
  /* background: #d4d4d4; */
  display: grid;
  place-items: center;
}
/* .companies {
  background: #d4d4d4;
  display: grid;
  place-items: center;
} */
.client-wrap {
  width: 90%;
  height: auto;
  text-align: center;
}
.client-wrap h1 {
  font-size: 20px;
  color: #03071e;
}
/* .client-wrap hr {
  width: 15%;
  height: 5px;
  border: none;
  background: #26ccca;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
} */
.client-in {
  width: 100%;
  height: auto;
}
.client-in ul {
  padding: 0;
  margin: 0;
}

.client-in ul li {
  list-style: none;
  display: inline-block;
  width: 250px;
  height: 200px;
  background: #c00404;
  /* padding: 1rem; */
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  margin: 20px;
  /* box-shadow: 1px 7px 5px -4px rgba(0, 0, 0, 0.46); */
  box-shadow: -3px -5px 5px -4px rgba(0, 0, 0, 0.46);

  cursor: pointer;
}

.client-in ul li img {
  width: 100%;
  height: 100%;
}
.client-in ul li img:nth-child(1) {
  transform: translateY(0);
  transition: 0.5s;
}
.client-in ul li img:nth-child(2) {
  transform: translateY(0);
  transition: 0.5s;
}

.client-in ul li:hover img:nth-child(1) {
  transform: translateY(-100%);
  transition: 0.5s;
}
.client-in ul li:hover img:nth-child(2) {
  transform: translateY(-100%);
  transition: 0.5s;
}
/* ===== END COMPANIES =====*/

/* ===== Flip card =====*/

.companies-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  position: relative;
  width: 400px;
  height: 150px;
}
.theCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: -3px -5px 5px -4px rgba(0, 0, 0, 0.46);
}
.theFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #da1e37;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.theFront p {
  font-weight: bold;
  font-size: 1.5rem;
}
.theFront i {
  color: #03071e;
  font-size: 3rem;
  align-self: center;
}
.theBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* background: #fafafa; */
  background: #03071e;
  color: rgb(241, 240, 240);
  transform: rotateX(180deg);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.theCard:hover {
  transform: rotateX(180deg);
}
.theFront .sm-letters {
  font-weight: normal;
}
/* ===== Flip END  =====*/

/* ===== ABOUT =====*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  height: 400px;
  overflow: hidden;
}
.about__img img {
  width: 100%;
}
.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.about__text {
  margin-bottom: var(--mb-4);
}
.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}
.about__social-icon {
  font-size: 1.4rem;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
}
.skills__name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.skills__img img {
  border-radius: 0.5rem;
}

/* ===== PORTFOLIO =====*/
.portfolio {
  background-color: var(--white-color);
}
.portfolio__container {
  justify-items: center;
  row-gap: 2rem;
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__img img {
  border-radius: 0.5rem;
}
.portfolio__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
.portfolio__link-name {
  color: var(--dark-color);
  text-align: center;
  font-weight: bold;
}
.portfolio__link-name span {
  color: var(--first-color);
  text-align: center;
  font-weight: bold;
}

/* ===== CONTACT =====*/
.contact__container {
  row-gap: 2rem;
}
.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.contact__text {
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}
.contact__input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
}
.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER=====*/
.footer {
  background-color: var(--dark-color);
}
.footer__container {
  row-gap: 2rem;
}
.footer__title {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}
.footer__link {
  padding: 0.25rem 0;
}
.footer__link:hover {
  color: var(--first-color);
}
.footer__social {
  font-size: 1.4rem;
  margin-right: var(--mb-1);
}
.footer__social:hover {
  color: var(--first-color);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 64px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--white-color);
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .active::after {
    background-color: var(--white-color);
  }

  .home__container {
    height: 100vh;
    grid-template-rows: 1.7fr 1fr;
    row-gap: 0;
  }
  .home__img {
    width: 434px;
    right: 10%;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    /* width: 100%; */
    height: 350px;
  }
  .about__img img {
    /* width: 165px; */
    width: 60%;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .contact__form {
    width: 380px;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Footer CSS */
.footer__container {
  background-color: var(--dark-color);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
}

.footer__link--items > h2 {
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
